<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--      <form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" ngModel name="username" class="form-control" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" ngModel name="email" class="form-control" required email #email="ngModel">
            <p *ngIf="!email.valid && email.touched" class="help-block">please enter a valid value</p>
          </div>
        </div>
        <p *ngIf="userData.touched && userData.invalid" class="help-block">user data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" [ngModel]="defaultQuestion" name="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
          <p>your answer is:</p>
          <p>{{answer}}</p>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" ngModel name="gender" [value]="gender" required>
            {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
      </form>
    </div>
  </div>
  <div *ngIf="submitted">
    <hr>
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    <p>gender: {{user.gender}}</p>
    <p>secret: {{user.secret}}</p>
    <p>answer: {{user.answer}}</p>


  </div>
</div>
