<div class="row">
  <div class="col-12">
    <img src="{{recipe.imgPath}}" alt="slika recepta">
    <h1 class="text-center">{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              (click)="show = !show" exclude=".dropdown-menu" (clickOutside)="onClickedOutside()">
        Manage
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="show ? 'show' : null">
        <a class="dropdown-item" (click)="addTosl()">To Shopping List</a>
        <a class="dropdown-item" [routerLink]="['/recipes', recipe.id, 'edit']">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDelete(recipe.id)">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Ingredients</h3>
    <div class="list-group">
      <p class="list-group-item" *ngFor="let items of recipe.ingredients">{{items.name}} - {{items.quantity}}</p>
    </div>
  </div>
</div>


<!--</div>-->
<!--<ng-template #noRecipe>-->
<!--  <p>Please select recipe</p>-->
<!--</ng-template>-->
