<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid">Save</button>
    <button class="btn btn-warning mx-2" type="button" [disabled]="!removedIngredient && !recipeForm.dirty" (click)="onCancel()">Cancel</button>
    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    <input type="text" class="form-control" id="image" formControlName="imagePath" #img>
  </div>
  <img [src]="img.value">
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="6" formControlName="description"></textarea>
  </div>
  <button type="button" class="btn btn-success my-2" (click)="onAddNewIngredient()">Add New ingredient</button>
  <button type="button" class="btn btn-danger m-2" (click)="onDeleteAllIngredients()" *ngIf="editMode">Delete all Ingredients</button>

  <div class="row" formArrayName="ingredients">
    <div class="col-12" *ngFor="let ingredient of ingredients;let i = index">
      <div class="row" [formGroupName]="i">
        <div class="col-8">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ingredient" formControlName="name">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <input type="number" class="form-control" formControlName="quantity">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <button class="btn btn-danger px-4" type="button" (click)="onIngredientDelete(i)">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
