.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000004b;
}

.alert-box {
  position: fixed;
  left: calc(50% - 20vw);
  top: 150px;
  //height: 30vh;
  width: 40vw;
  //min-height: 50px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;

  .alert-box-action {
    text-align: right;
  }
}
