<div class="row">
  <div class="col-12">
    <img src="{{recipe.imagePath}}" alt="recipe image">
  </div>
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" (click)="isOpen = !isOpen" appMaxDropdown>
        Menage Recipe
      </button>
      <div *ngIf="isOpen" class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onAddToShopingLIst()" style="cursor: pointer">To Shopping list</a>
        <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
      </div>


    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Ingredients</h3>
    <div class="list-group">
      <p class="list-group-item" *ngFor="let items of recipe.ingredients">{{items.name}} - {{items.amount}}</p>
    </div>
  </div>
</div>
