<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Course App Max</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/recipes">Recipe</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">Authentication</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" (clickOutside)="onClose()"  (click)="isOpen = !isOpen">
          Dropdown
        </a>
        <div *ngIf="isOpen" class="dropdown-menu show" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" (click)="onFetchData()">Fetch Data</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<!--<div class="backdrop" (click)="isOpen = !isOpen" *ngIf="isOpen"></div>-->
